# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
.pnp/
.pnp.js
.vscode/
.idea/

# Production
dist/
build/
out/

# Local environment files
.env
.env.local
.env.*.local

# System files
.DS_Store
Thumbs.db

# Editor directories
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore specific user configurations and unnecessary OneDrive data
OneDrive/
AppData/
Desktop.ini
NTUSER.DAT*
